{% extends "base.html" %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <title>Login</title>

  <div class="signup-container" align="center">

            <form method="post" class="login"> {% csrf_token %}
                
                <h2 class="title">Login</h2>
                

                <div>

                    <label for="id_username"></label>
                    <input type="text" name="username" autofocus required
                           id="id_username">

                </div>
                <div>

                    <label for="id_password"></label>
                    <input type="password" name="password" autofocus required
                           id="id_password">

                </div>
                <button type="submit">Login</button>
            </form>
        </div>
{% endblock %}
